* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin: 20px 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
}

.cards > div {
  width: calc((100% - 40px) / 3);
  border: 2px solid black;
}

img {
  width: 100%;
}
